.header {
  text-align: center;
  color: #5ebec4;
  font-family: "Poetsen One", sans-serif;
  font-size: x-large;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1%;
  margin-right: 1em;
  position: relative;
}
.link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #5ebec4;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
